        body {
          background-color: #e5f6ff;
        }
        h3 {
          color: #2a3738;
          font-family: 'Libre Baskerville', sans-serif;
          font-size: 20px;
          padding-left: 2cm;
          padding-right: 2cm;
          float: left;
        }
        img {
          float: right;
        }
        p {
          color: #2a3738;
          font-family: 'Libre Baskerville', sans-serif;
          font-size: 15px;
          padding-left: 2cm;
          padding-right: 2cm;
          line-height: 175%;
          float: left;
        }
        #header {
          background: #135140;
          padding: 70px;
          height: auto;
        }
        h1 {
          color: white;
          font-family: sans-serif;
          text-align: center;
        }
        a#download {
          display: block;
          text-align: center;
          width: 150px;
          margin: 0px auto;
          padding: 20px; 
          color: white;
          text-transform: uppercase;
          font-family: sans-serif;
          border: 1px solid #fff;
          text-decoration: none;
          border-radius: 10px; 
        }
